body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    max-width: 19;
}

img {
    height: 100%;
    width: 100%;
}

.img-container {
    height: 23px;
}

dialog {
    width: 450px;
    height: 240px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 24px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 24px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 24px -14px rgba(0, 0, 0, 0.75);
}

.custom-select {
    position: relative;
}

.yearSelect {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.yearSelect:focus {
    border: 1px solid rgba(150, 147, 147, 0.736);
    outline: none;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}
